@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --clr-main: #3e484d;

  --clr-dark: #121617;
  --clr-dark2: #181d1f;

  --clr-gray: #646464;
  --clr-border: #d8dbdc;

  --clr-white: #ebeded;

  --transition: 0.12s ease;
  --font1: "Montserrat", sans-serif;

  --clr-text: #ededed;
  --clr-background: #000000;
  --clr-primary: #af1a5b;
  --clr-second: #572188;
  --clr-accent: #af1a5b;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  font-family: var(--font1);
}

body {
  min-height: 100dvh;
  line-height: 1.6;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-image: url('/img/wallpaper.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #000000e7;
  background-blend-mode: darken;


}

main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

a {
  cursor: pointer;
}

i.bi {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: var(--transition);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  letter-spacing: 2px;
  text-indent: 2px;

}

p {
  color: var(--clr-text);
}

section>h2 {
  text-transform: uppercase;
  font-size: 3rem;
}

/* FLEX ROW Y FLEX COLUMN */
.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


section,
footer {
  padding: 40px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section>*,
footer>* {
  max-width: 1100px;
}

button,
.boton,
.boton2 {
  cursor: pointer;
  padding: 14px 25px;
  border-radius: 50px;
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: 4px;
  text-indent: 4px;
  text-transform: uppercase;
  background-color: #ffffff0e;
  backdrop-filter: blur(7px);
  color: var(--clr-white);
  transition: var(--transition);
  border: solid 1px #ffffff15;
}

.boton2 {
  background-color: transparent;
  border: solid 1px #ffffff15;
}

input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 50px;
  border: solid 1px transparent;
  font-size: 1rem;
  font-family: var(--font1);
  background-color: #fff;
  transition: var(--transition);
  outline: none;
  color: var(--clr-dark);
}

input:focus {
  border-color: var(--clr-border);
}

span {
  color: var(--clr-accent);
}

.background-img {}

@media (hover: hover) {

  button:hover,
  .boton:hover,
  .boton2:hover,
  .bi:hover {
    /* transform: translate(0, -1px); */
    background-color: #ffffff11;
    color: var(--clr-accent);
  }

  .boton2:hover {
    background-color: var(--clr-dark2);
  }
}