@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
  /* PRIMARY COLORS */
  --clr-primary: #af1a5b;
  --clr-accent: #af1a5b;
  --clr-text: #ececec;

  --clr-border: #ffffff13;
  --clr-border-hover: #ffffff1f;

  /* EFFECTS */
  --blur: blur(10px);
  --radius-default: 25px;
  --radius-interactive: 10px;

  /* TYPOGRAPHY & TIMING */
  --transition: 0.12s ease;
  --transition-md: 0.3s ease;
  --font1: "Montserrat", sans-serif;
  --font2: "Orbitron", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  font-family: var(--font1);
}

body {
  min-height: 100dvh;
  line-height: 1.6;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-image: url('/img/wallpaper.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #000000e7;
  background-blend-mode: darken;


}

main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

a {
  cursor: pointer;
}

i.bi {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: .22s ease;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  letter-spacing: 2px;
  text-indent: 2px;
  font-family: var(--font2);

}

p {
  color: var(--clr-text);
}

section>h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
}

/* FLEX ROW Y FLEX COLUMN */
.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


section,
footer {
  padding: 40px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section>*,
footer>* {
  max-width: 1100px;
}

button,
.boton,
.boton2 {
  border-radius: 100px;
  background-color: #ffffff05;
  padding: 14px 25px;
  cursor: pointer;
  font-family: var(--font2);
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: 4px;
  text-indent: 4px;
  text-transform: uppercase;
  backdrop-filter: var(--blur);
  color: var(--clr-white);
  transition: var(--transition);
  border: solid 1px var(--clr-border);
}

.boton2 {
  background-color: transparent;
}

span {
  color: var(--clr-accent);
}

.card-glass {
  border: solid 1px var(--clr-border);
  border-radius: 25px;
  backdrop-filter: var(--blur);
  transition: var(--transition);
  background-color: #ffffff01;
}


@media (hover: hover) {

  button:hover,
  .boton:hover,
  .boton2:hover {
    background-color: #ffffff09;
    color: var(--clr-accent);
  }

  .boton2:hover {
    background-color: var(--clr-dark2);
  }

  .card-glass:hover {
    border-color: var(--clr-border-hover);
  }
}

@media (min-width: 768px) {
  section>h2 {
    font-size: 3.8rem;
  }
}