---
import Layout1 from "../layouts/Layout1.astro";
---

<Layout1 title="404 - Not Found">
  <section>
    <h1>404 - Not Found</h1>
    <p>La página que buscas no existe.</p>
  </section>
</Layout1>

<style>
  section {
    height: 500px;
    align-items: center;
    justify-content: center;
  }
</style>
