---
import Layout1 from "../layouts/Layout1.astro";
import Hero from "../sections/hero.astro";
import Projects from "../sections/projects.astro";
import Education from "../sections/education.astro";
import Experience from "../sections/experience.astro";
---

<Layout1 title="Home | MacV">
	<Hero
		title="MacV"
		span="Miguel Angel Cuellar Velandia"
		bg_image="/img/wallpaper1.jpg"
	/>

	<section id="about-me">
		<h2>About <span>me</span></h2>
		<p>
			Software Engineer graduate from Universidad Surcolombiana with solid
			knowledge in Astro, Python, JavaScript, HTML, and CSS. Problem-solving
			oriented with a strong commitment to continuous learning and staying
			current with new technologies. Highly adaptable team player skilled in
			agile environments, focused on delivering efficient solutions on time and
			dedicated to constant professional growth within the technology sector.
		</p>
	</section>

	<Education />

	<Experience />

	<Projects />
</Layout1>

<style>
	#about-me h2 {
		width: 100%;
		text-align: left;
	}
	@media (min-width: 750px) {
	}

	@media (hover: hover) {
	}
</style>
