<section class="flex-row">
  <div class="flex-column">
    <h2><i class="bi bi-graph-up-arrow"></i>MISÍON</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur sint
      veritatis, itaque rem molestias vel assumenda totam odit non temporibus
      neque eum? Saepe alias est quidem labore quas consequuntur officiis.
    </p>
  </div>

  <div class="flex-column">
    <h2><i class="bi bi-lightbulb"></i>VISIÓN</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur sint
      veritatis, itaque rem molestias vel assumenda totam odit non temporibus
      neque eum? Saepe alias est quidem labore quas consequuntur officiis.
    </p>
  </div>
</section>

<style>
  section {
    flex-wrap: wrap;
  }

  div {
    align-items: baseline;
    background-color: #fff;
    border: solid 1px var(--clr-border);
    padding: 27px 20px;
    border-radius: 18px;
    max-width: 400px;
    gap: 5px;
  }

  h2 {
    display: flex;
    color: var(--clr-dark2);
  }

  i {
    margin-right: 4px;
  }
</style>
