---
const education = [
  {
    institution: "UNIVERSIDAD SURCOLOMBIANA",
    degree: "Software Engineer",
    date: "2019 - 2024",
    href: "/docs/DIPLOMA ING SOFTWARE.pdf",
  },
  {
    institution: "FreeCodeCamp",
    degree: "RESPONSIVE WEB DESINGN",
    date: "June 2023",
    href: "/docs/Certificado-responsive-web-design.pdf",
  },
  {
    institution: "Matlab Onramp",
    degree: "MATLAB",
    date: "July 2021",
    href: "/docs/mathlab_certificate.pdf",
  },
];
---

<section id="education">
  <h2>EDUCATION</h2>
  <div class="grid">
    {
      education.map((element) => (
        <a
          href={element.href}
          target="_blank"
          rel="noopener noreferrer"
          class="card-glass flex-column"
        >
          <h3>{element.institution}</h3>
          <p class="degree">{element.degree}</p>
          <p class="date">{element.date}</p>
          <i class="bi bi-box-arrow-up-right icon" />
        </a>
      ))
    }
  </div>
</section>

<style>
  h2 {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
  }

  .grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-items: stretch;
  }

  .card-glass {
    padding: 20px;
    align-items: start;
    gap: 2px;
    width: 100%;
    max-width: 100%;
    position: relative;
    text-decoration: none;
    color: inherit;
  }

  .card-glass h3 {
    font-size: 1.3rem;
    padding-left: 0;
    text-indent: 0;
  }

  .card-glass p.degree {
    margin-bottom: 12px;
  }

  .card-glass .date {
    margin-top: auto;
    margin-bottom: 0px;
  }

  .card-glass .icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    opacity: 0.5;
    transition: var(--transition);
  }

  @media (hover: hover) {
    .card-glass:hover .icon {
      color: var(--clr-primary);
      opacity: 0.8;
    }
  }

  /* DESKTOP - A partir de 750px */
  @media (min-width: 750px) {
    .grid {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .card-glass {
      max-width: 350px;
    }
  }
</style>
