---
const { title, span, bg_image } = Astro.props;
---

<section class="flex-column" style={`--bg-image: url('${bg_image || ""}')`}>
  <div>
    <h1>{title}</h1>
    {span && <span>{span}</span>}
    <slot />
    <div class="buttons flex-row">
      <a
        class="boton"
        href="/docs/CV-Miguel_Cuellar(English).pdf"
        target="_blank">Download CV</a
      >
    </div>
  </div>
</section>

<style>
  section {
    gap: 0px;
  }

  section > div {
    width: 100%;
  }

  .buttons {
    gap: 10px;
    margin: 10px;
  }

  h1 {
    font-family: var(--font1);
    color: var(--clr-accent);
    font-size: 4.5rem;
    line-height: normal;
    font-weight: 600;
    letter-spacing: 10px;
    padding-left: 10px;
  }

  h3 {
    line-height: normal;
  }

  span {
    color: #fff;
    font-size: 1rem;
    margin-top: -15px;
    margin-left: 10px;
    display: block;
    font-style:;
  }

  @media (min-width: 750px) {
    h1 {
      font-size: 6rem;
    }

    span {
      font-size: 1.3rem;
      margin-top: -20px;
    }
  }
</style>
