---

---

<section class="flex-column">
  <div class="flex-row">
    <div class="flex-column grid-info">
      <h1 class="title">MacV</h1>
      <span>Miguel Angel Cuellar Velandia</span>
      <div class="buttons flex-row">
        <a
          class="boton"
          href="/docs/CV-Miguel_Cuellar(English).pdf"
          target="_blank">Download CV</a
        >
        <div class="social-networks flex-row">
          <a
            href="https://www.linkedin.com/in/miguel-angel-cuellar-velandia-259848240/"
            target="_blank"
          >
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="https://github.com/MacV99" target="_blank">
            <i class="bi bi-github"></i>
          </a>
          <a href="https://www.instagram.com/macv_9" target="_blank">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div>
      <img src="/img/imgProfile.png" alt="" />
    </div>
  </div>
</section>

<style>
  .social-networks {
    gap: 10px;
  }

  .bi {
    font-size: 20px;
    padding: 12px;
    border-radius: 180px;
    background-color: #ffffff05;
    border: solid 1px var(--clr-border);
    backdrop-filter: var(--blur);
  }

  section {
    flex-wrap: wrap;
    border-bottom: solid 1px var(--clr-border);
    backdrop-filter: var(--blur);
  }

  section img {
    border: solid 1px var(--clr-border);
    backdrop-filter: var(--blur);
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 40px;
    object-fit: contain;
  }

  section > div {
    width: 100%;
    gap: 1px;
    flex-wrap: wrap-reverse;
  }

  section .flex-column {
    align-items: flex-start;
    width: fit-content;
  }

  section .buttons {
    gap: 10px;
    margin: 10px 0px;

    flex-wrap: wrap;
    gap: 10px;
    width: fit-content;
  }

  section h1,
  .title {
    /* color: var(--clr-accent); */
    font-size: 4.8rem;
    font-weight: 100;
    width: 100%;
    letter-spacing: 21px;
    text-indent: 10px;
  }

  h3 {
    line-height: normal;
  }

  span {
    color: var(--clr-accent);
    font-family: var(--font2);
    font-size: 1rem;
    margin-top: -14px;
    display: block;
    font-weight: 700;
    letter-spacing: 2px;
    text-indent: 2px;
  }

  section .grid-info {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  @media (hover: hover) {
    .bi:hover {
      background-color: #ffffff09;
      color: var(--clr-accent);
      transform: rotate(20deg);
    }
  }

  @media (min-width: 750px) {
    section h1 {
      font-size: 8.5rem;
      margin-left: -6px;
      letter-spacing: 10px;
      text-indent: 0;
      text-align: left;
    }

    section span {
      font-size: 1.23rem;
      margin-top: -30px;
      letter-spacing: 5px;
    }

    section > div {
      gap: 40px;
      flex-wrap: nowrap;
    }

    section .grid-info {
      align-items: flex-start;
    }
  }
</style>
